
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*::after
*::before
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

:root{
--TextColor:rgb(56, 48, 48);
--TextTitle: 2rem;
--ColorRed:#D41212; 
--FontFamilyTitle: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.textColorRed {
    color: var(--ColorRed);

}
.backgroundRed {
    background-color:var(--ColorRed);
}

.subTitle {
    font-family: var(--FontFamilyTitle);
    font-size: 3rem;
    color:var(--TextColor);
    margin-left: 40px;
}

html{
    font-size: 62.5%;
    
}

body{
    margin: 0;
    background-color: white;

    
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--TextColor);
}

/* HELPERS */
 .contenedor{
    max-width: 1440px;
    margin: 0 auto;

} 

/* HEADER */

header{
    background-color: white;
}
.headerLogo{
    max-height: 90px;
    max-width: auto;
    padding-left: 2rem;
}

.menu{
    display: flex;
    gap: 0.rem;

}

.menuLink{
    padding-right: 1.5rem;
    font-size: 1.6rem;;
    margin: 10px;
}

/* MAIN */
h1 {
    font-size: 3.75em;
    font-family:var(--FontFamilyTitle);
    color: var(--TextColor);
}

    main section{
        padding: auto;

    }
   

        main section p {
            font-size: 1.4em;
            line-height: 1.375em;
            font-weight: 450;
            margin: 15px;
            padding: 10px;
            overflow: auto;
        }


.imgTitle{
    display: flex;
    flex-direction: column;
}


.mainImgFluid{
    display: flex;
    width: 100%;
}
.mainTitle{
    text-align: center;
    font-size: 6rem;
    margin-top: 40px;
    margin-bottom: 50px;
}

.nosotrosSub {
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    margin-bottom: 40px;
}

.nosotrosText{
    font-size: 2rem;
    line-height: 1.375em;
    font-weight: 450;
    margin: 15px;
    padding: 0 200px;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    
}

.tituloNoticia{
    font-size: 4rem;
    padding-bottom: 30px;
    text-align: start;
    margin-top: 50px;
    margin-left: 100px;
    font-family: var(--FontFamilyTitle);
    color: var(--TextColor);
}

.contenedorMain{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
}


.textCenter{
    text-align: center;
}

.contenedor1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.contenedor2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.contenedor3 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}



.Noticia1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Noticia2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Noticia3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imgNoticia1{
    width: 300px;
  
}
.imgNoticia2{
    width: 300px;  
    
}
.imgNoticia3{
    width: 300px;   
    
}
.noticiaImg{
    margin-left: 50px;
    width: 300px;
}

.nosotrosTitle{
    font-size: 2rem;
    text-align: center;
    font-family: var(--FontFamilyTitle);
    color: var(--TextColor);
}

.titleNoticia{
    font-size: 1.5rem;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.textNoticia{
    font-size: 1.3rem;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
}
.colorRedTitle {
    color:var(--ColorRed);
}
.contenedorForm {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.contenedorForm h2 {
    margin-bottom: 50px;
    font-size: 4rem;
    
}

.contenedorForm a {
    font-size: 2rem;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.contenedorForm a i {
    color: var(--ColorRed);
    margin-right: 15px;
}
.contenedorForm form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.contenedorForm form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.contenedorForm .btnEnviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: var(--ColorRed);
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.contenedorForm .btnEnviar:hover{
    background: var(--ColorRed);
}

.textFontSize{
    font-size: 1.5em;
    margin-left: 15px;
}
.titleText{
    font-size: 2rem;
    margin-left: 10px;
    color: var(--TextColor);
}

.contenedorNosotros{
    display: flex;
    flex-direction: column;
}
.contenedorEnlaces{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.contenedorServicios{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.contenedorNoticias{
    display: flex;
    flex-direction: column;
}

.contenedorServicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.iconoRedes{
    height: 30px;
    width: auto;
    margin: 15px;
}

/* media */
@media screen and (max-width:879px){
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .contenedorContacto{
       margin-left: 50px;
    }
    
    .nosotrosText{
        padding: 0;
        
    }

    .contenedorForm {
        display: flex;
        flex-direction: column;
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .mainTitle {
        font-size: 4.5rem;
    }
    .subTitle{
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width:575px) {
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .contenedorContacto{
        flex-direction: column;
    }
    .contenedorForm {
        display: flex;
        flex-direction: column;
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .contenedor1, .contenedor2, .contenedor3 {
        flex-direction: column;
    }
    .mainTitle {
        font-size: 3.5rem;
    }
    .subTitle{
        font-size: 2rem;
    }
  
}

@media screen and (max-width:480px){
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .imgNoticia1, .imgNoticia2, .imgNoticia3 {
        width: 200px;
    }
    
    .titleText  {
        font-size: 1.5rem;
    }
    .contenedorContacto{
        flex-direction: column;
    }
    .nosotrosText{
        font-size: 1.5rem;
        padding: 0;
    }
    .contenedorForm {
        display: flex;
        flex-direction: column;
        
    }
    .contenedorForm h2 {
        font-size: 2.5rem;
    }
    .contenedorForm a {
        font-size: 1.5rem;
        
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .contenedor1, .contenedor2, .contenedor3 {
        flex-direction: column;
    }
    .contenedorServicios {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .img1 img{
        width: 200px;
      
    }
    .img2 img{
        width: 200px;
      
    }
    .img3 img{
        width: 200px;
      
    }
    .mainTitle {
        font-size: 3rem;
    }
    .subTitle{
        font-size: 1.5rem;
    }

      }
