*::after
*::before
*{
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
    
}

body{
    margin: 0;
    background-color: white;

    
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: rgb(56, 48, 48);
}


.contenedor{
    max-width: 1440px;
    margin: 0 auto;

}
header{
    background-color: white;
}
.headerLogo{
    max-height: 90px;
    max-width: auto;
    padding-left: 2rem;
}

.menu{
    display: flex;
    gap: 0;

}

.menuLink{
    padding-right: 1.5rem;
    font-size: 1.6rem;;
    margin: 10px;
}

h1 {
    font-size: 3.75em;
    font-family:var(--FontFamilyTitle);
    color: var(--TextColor);
}

    main section{
        padding: auto;

    }
   

        main section p {
            font-size: 1.4em;
            line-height: 1.375em;
            font-weight: 450;
            margin: 15px;
            padding: 10px;
            overflow: auto;
        } 
.textColorRed {
    
    color: var(--ColorRed);      
 }
 .backgroundRed {
    background-color:var(--ColorRed);
}

.mainTitle{
    text-align: center;
    font-size: 6rem;
    margin-top: 40px;
    margin-bottom: 50px;
}
.titleText{
    font-size: 2rem;
    margin-left: 10px;
    color: var(--TextColor);
}
.textFontSize{
    font-size: 1.5em;
    margin-left: 15px;
}