/* media */
@media screen and (max-width:879px){
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .contenedorContacto{
       margin-left: 50px;
    }
    
    .nosotrosText{
        padding: 0;
        
    }

    .contenedorForm {
        display: flex;
        flex-direction: column;
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .mainTitle {
        font-size: 4.5rem;
    }
    .subTitle{
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width:575px) {
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .contenedorContacto{
        flex-direction: column;
    }
    .contenedorForm {
        display: flex;
        flex-direction: column;
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .contenedor1, .contenedor2, .contenedor3 {
        flex-direction: column;
    }
    .mainTitle {
        font-size: 3.5rem;
    }
    .subTitle{
        font-size: 2rem;
    }
  
}

@media screen and (max-width:480px){
    .contenedorMain{
        display: flex;
        flex-direction: column;
    }
    .header{
        display: flex;
        flex-direction: column; 
        align-items: center;
    }
    .imgNoticia1, .imgNoticia2, .imgNoticia3 {
        width: 200px;
    }
    .tituloNoticia {
        text-align: center;
    }
    .titleText  {
        font-size: 1.5rem;
    }
    .contenedorContacto{
        flex-direction: column;
    }
    .nosotrosText{
        font-size: 1.5rem;
        padding: 0;
    }
    .contenedorForm {
        display: flex;
        flex-direction: column;
        
    }
    .contenedorForm h2 {
        font-size: 2.5rem;
    }
    .contenedorForm a {
        font-size: 1.5rem;
        
    }
    .contenedorForm form textarea{
        max-width: 530px;
        min-width: 150px;
        min-height: 140px;
        max-height: 150px;
    }
    .contenedor1, .contenedor2, .contenedor3 {
        flex-direction: column;
    }
    .contenedorServicios {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .img1 img{
        width: 200px;
      
    }
    .img2 img{
        width: 200px;
      
    }
    .img3 img{
        width: 200px;
      
    }
    .mainTitle {
        font-size: 3rem;
    }
    .subTitle{
        font-size: 1.5rem;
    }

      }
